.App {
  max-width: 100vw;
  min-height: 100vh;

  background:  linear-gradient( white 56vh, #ff8c7a 44vh);
}

#imgPitang{
  width: 11vw;
  height: 8vh;

  margin-top: 19vh;
}

#line{
  background-color: #e4462d;
  width: 100%;
  height: 8px;

  margin-bottom: 15px;
}